<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>k</title> 
</head>

<body>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cliente: ${clientes}">
                       
                        <td th:text="${cliente.id}"></td>
                        <td th:text="${cliente.nombre}"></td>
                        <td th:text="${cliente.apellido}"></td>
                        <td th:text="${cliente.emai}"></td>
                        <td th:text="${cliente.createAt}"></td>
                        
              
                    </tr>      
                </tbody>
            </table>
         
</body>
</html>